{% extends "layout.html" %}
{% block content %}
<p>
Browser distribution, gathered from RE update events
</p>

<table class="data">
    <tr>
      <td class="tableheader">Browser</td>
      <td class="tableheader">(all)</td>
      <td class="tableheader">Windows</td>
      <td class="tableheader">Mac OS</td>
      <td class="tableheader">Linux</td>
    </tr>  
    <tr class="tablerow1">
        <td class="tableheader">Chrome</td>
        <td>{{ chrome.all }}</td>
        <td>{{ chrome.win }}</td>
        <td>{{ chrome.mac }}</td>
        <td>{{ chrome.linux }}</td>
    </tr>
    <tr class="tablerow1">
        <td class="tableheader">Firefox</td>
        <td>{{ firefox.all }}</td>
        <td>{{ firefox.win }}</td>
        <td>{{ firefox.mac }}</td>
        <td>{{ firefox.linux }}</td>
    </tr>
</table>

{% endblock %}
