{% extends "layout.html" %}
{% block content %}

<p>
    Here is some information on the IP address you clicked on.  Note that the
    information here are all <i>guesses</i> and should not be considered definite.
</p>
<p>
    If you are doing anything important with this data, you are <i>insane</i>.
</p>
<table class="data">
    <tr class="tablerow1">
        <td class="tableheader">IP Address</td>
        <td>{{ ip_details.ip_address }}</td>
    </tr>
    <tr class="tablerow1">
        <td class="tableheader">Geolocation Guess</td>
        <td>Latitude: {{ ip_details.latitude }}<br />Longitude: {{ ip_details.longitude }}</td>
    </tr>
    <tr class="tablerow1">
        <td class="tableheader">Location Guess</td>
        <td>
            {{ ip_details.area_code }}, {{ ip_details.region }}<br />
            {{ ip_details.city }}, {{ ip_details.country }}<br />
            {{ ip_details.country_code }}, {{ ip_details.continent_code }}<br />
        </td>
    </tr>
</table>

{% endblock %}