{% extends "layout.html" %}
{% block content %}
<p>
List of people who have updated this plugin
</p>
<p>
    If you are doing anything important with this data, you are <i>insane</i>.
</p>
<p>
  Number of unique IPs: <B>{{num_ips}}</b>
</p>

<table class="data">  
  <tr>
    <td class="tableheader">IP Addresses</td>
    <td class="tableheader">Count</td>    
  </tr>
  {% for x in details %}
    <tr class="{% cycle tablerow1,tablerow2 %}">
        <td>
          {% for a in x.addresses %}
          <a href="/admin/ip_details?ip={{ a }}">{{a}}</a>,&nbsp;
          {% endfor %}
        </td>
        <td>{{ x.count }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
