{% extends "layout_public.html" %}

{% block header %}
<STYLE>
.url {
/*  width: 200px;*/
  float: left;
  clear: both;
  font-size: 24px;
  font-weight: bold;
  color: #404040;
  padding: 10px 10px 10px 10px;
  margin: 20px 0 20px 50px;
  border: thick #404040 solid;
}

</STYLE>
{% endblock %}

{% block content %}
<p>
  <table cellpadding="0" cellspacing="10" width="80%">
    <tr><td colspan="2">Your friends will now be informed about</td></tr>
    <tr><td colspan="2"><div class="url">{{ offending_url }}</div></td></tr>
    <tr><td colspan="2">Thank you again for helping make the web a safer place.</td></tr>
  </table>
  </p>
{% endblock %}